{{!-- <div class="background"></div> --}}
<video autoplay muted loop id="myVideo">
  <source src="images/vid.mp4" type="video/mp4">
</video>
<div class="container">
    <div class="inner-container">
        <div class="title">
            <h1>I'm Paul Mendoza</h1>
        </div>
        <div class="icons">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
<script>
    /*
    const title = document.querySelector('.title');
    window.setInterval(()=>{
        const [r, g, b] = [getRandomInt(0, 255),getRandomInt(0, 255),getRandomInt(0, 255)];

        title.style.background = `rgba(${r},${g},${b},0.5)`;
    }, 500);

    function getRandomInt(min, max) {
        min = Math.ceil(min);
        max = Math.floor(max);
        return Math.floor(Math.random() * (max - min)) + min; //The maximum is exclusive and the minimum is inclusive
    }
    */
</script>
