<div class="container">
  <h1>It me. Pauly D.</h1>
  <div>
    <p class="suplimental">This site is still under contruction
    </p>
    <p class="suplimental">
      Here's some links:
    </p>
    <div class="social-icons">
      <a href="mailto:paul@doza.design">
        <img alt="email" class="icon" src="images/email.svg">
      </a>
      <a href="https://github.com/qdozaq" target="_blank" rel="noopener">
        <img alt="github" class="icon" src="images/github.svg">
      </a>
      <a href="https://www.instagram.com/qdozaq/" target="_blank" rel="noopener">
        <img alt="instagram" class="icon" src="images/instagram.svg">
      </a>
      <a href="https://www.linkedin.com/in/paul-mendoza-39303572/" target="_blank" rel="noopener">
        <img alt="linkedin" class="icon" src="images/linkedin.svg">
      </a>
      <a href="https://www.youtube.com/user/qDozaq/" target="_blank" rel="noopener">
        <img alt="youtube" class="icon" src="images/youtube.svg">
      </a>
    </div>
  </div>
</div>