body{
  display:flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.icons{
  div{
    padding: 10px;
    width: 5vw;
    height: 5vw;
    background-color: #bada55;
  }
}
