body{
  display:flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Tahoma, sans-serif;
  overflow-x: hidden;
  //background: url(http://api.thumbr.it/whitenoise-361x370.png?background=111111ff&noise=ffffff&density=5&opacity=5);
  background-image: url("/images/whitenoise-361x370.png");
  background-color: #111;
}

#introduction{
  color: #eee;
}

.suplimental{
  color: #888;
  font-style: italic;
}
