body{
  display:flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  font-family: Tahoma, sans-serif
}

.suplimental{
  color: #888;
  font-style: italic;
}

.social-icons{
  height:40px;

  a{
    text-decoration: none;
  }
}

.icon{
  height:100%;
  filter:invert(.4);

  transition-property: transform, padding;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(.05,.64,.04,.98);

  &:hover{
    transform: scale(1.2);
    padding:0 10px;
  }
}